<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Link</title>
    <link rel="stylesheet" href="index.css">
</head>
<body style="padding: 100px;">
    <a href="#" class="link">Common link</a><br><br>
    <a href="#" class="link_pseudo">Pseudo link</a><br><br>
    <a href="#" class="link link_wrapper">&laquo;<span class="link__i">wrapper link</span>&raquo;</a><br><br>
    <a href="#" class="link link_pseudo link_wrapper">&laquo;<span class="link__i">Pseudo wrapper link</span>&raquo;</a><br><br>

    <a href="#" class="link">Multi-line<br>link</a><br><br>
    <a href="#" class="link link_pseudo">Multi-line<br> psudo-link</a><br><br>

    <a href="#" class="link link_wrapper">&laquo;<span class="link__i">multi-line <br>wrapper link</span>&raquo;</a><br><br>
    <a href="#" class="link link_pseudo link_wrapper">&laquo;<span class="link__i">multi-line <br>Pseudo wrapper link</span>&raquo;</a><br><br>
</body>
</html>
