<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scrolling shadows</title>
    <link rel="stylesheet" href="index.css" media="all">
</head>
<body>
    <div style="width: 200px; height: 300px; margin-right: 20px; display: inline-block; vertical-align: top;" class="scroll-shadow"><!--
        --><div class="scroll-shadow__i" style="padding: 10px;">
            Not enough text to show scrollshadow
        </div><!--
    --></div>

    <div style="width: 200px; height: 300px; margin-right: 20px; display: inline-block; vertical-align: top;" class="scroll-shadow"><!--
        --><div class="scroll-shadow__i" style="padding: 10px;">
        Consectetur ullam qui praesentium ut labore. Dignissimos quo sit adipisci corrupti ut. Nam quisquam aliquid delectus culpa non necessitatibus! Inventore enim similique expedita placeat doloremque voluptates eius. Praesentium obcaecati cumque.
        Consectetur ullam qui praesentium ut labore. Dignissimos quo sit adipisci corrupti ut. Nam quisquam aliquid delectus culpa non necessitatibus! Inventore enim similique expedita placeat doloremque voluptates eius. Praesentium obcaecati cumque.
        Consectetur ullam qui praesentium ut labore. Dignissimos quo sit adipisci corrupti ut. Nam quisquam aliquid delectus culpa non necessitatibus! Inventore enim similique expedita placeat doloremque voluptates eius. Praesentium obcaecati cumque.
        </div><!--
    --></div>

    <div style="width: 300px; height: 200px; display: inline-block; vertical-align: top;" class="scroll-shadow_type_horizontal"><!--
        --><div class="scroll-shadow__i" style="padding: 10px;">
        Consectetur ullam qui praesentium ut labore. Dignissimos quo sit adipisci corrupti ut. Nam quisquam aliquid delectus culpa non necessitatibus! Inventore enim similique expedita placeat doloremque voluptates eius. Praesentium obcaecati cumque.<br>
        Consectetur ullam qui praesentium ut labore. Dignissimos quo sit adipisci corrupti ut. Nam quisquam aliquid delectus culpa non necessitatibus! Inventore enim similique expedita placeat doloremque voluptates eius. Praesentium obcaecati cumque.<br>
        Consectetur ullam qui praesentium ut labore. Dignissimos quo sit adipisci corrupti ut. Nam quisquam aliquid delectus culpa non necessitatibus! Inventore enim similique expedita placeat doloremque voluptates eius. Praesentium obcaecati cumque.
        </div><!--
    --></div>

    <div style="width: 200px; height: 300px; margin-right: 20px; display: inline-block; vertical-align: top;" class="scroll-shadow_color_green"><!--
        --><div class="scroll-shadow__i" style="padding: 10px;">
        Consectetur ullam qui praesentium ut labore. Dignissimos quo sit adipisci corrupti ut. Nam quisquam aliquid delectus culpa non necessitatibus! Inventore enim similique expedita placeat doloremque voluptates eius. Praesentium obcaecati cumque.
        Consectetur ullam qui praesentium ut labore. Dignissimos quo sit adipisci corrupti ut. Nam quisquam aliquid delectus culpa non necessitatibus! Inventore enim similique expedita placeat doloremque voluptates eius. Praesentium obcaecati cumque.
        Consectetur ullam qui praesentium ut labore. Dignissimos quo sit adipisci corrupti ut. Nam quisquam aliquid delectus culpa non necessitatibus! Inventore enim similique expedita placeat doloremque voluptates eius. Praesentium obcaecati cumque.
        </div><!--
    --></div>
</body>
</html>
