//Method from http://lea.verou.me/2012/04/background-attachment-local/
//unfortunately, there is currently a bug in chrome, which renders this poorly
//https://code.google.com/p/chromium/issues/detail?id=369002

@mixin scrollshadows ($orientation: vertical, $color: black, $bgcolor: white, $size: 7px) {
    background-color: $bgcolor;
    background-attachment: local, local, scroll, scroll, scroll, scroll;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

    @if ($orientation == vertical) {
        background-image:
            /* Shadow covers */
            linear-gradient(to bottom, $bgcolor 30%, rgba($bgcolor, 0)),
            linear-gradient(to top, $bgcolor 30%, rgba($bgcolor, 0)),

            /* Borders */
            linear-gradient(to right, transparent, rgba($color, 0.3) 25%, rgba($color, 0.3) 75%, transparent),
            linear-gradient(to right, transparent, rgba($color, 0.3) 25%, rgba($color, 0.3) 75%, transparent),

            /* Shadows */
            radial-gradient(50% 0, farthest-side, rgba($color, .5), transparent),
            radial-gradient(50% 100%,farthest-side, rgba($color, .5), transparent);

        background-size: 100% $size*4, 100% $size*4, 100% 1px, 100% 1px, 100% $size, 100% $size;
        background-position: 0 0, 0 100%, 0 0, 0 100%, 0 0, 0 100%;
    } @else {
        background-image:
            /* Shadow covers */
            linear-gradient(to right, $bgcolor 30%, rgba(255,255,255,0)),
            linear-gradient(to left, $bgcolor 30%, rgba(255,255,255,0)),

            /* Borders */
            linear-gradient(to bottom, transparent, rgba($color, 0.3) 25%, rgba($color, 0.3) 75%, transparent),
            linear-gradient(to bottom, transparent, rgba($color, 0.3) 25%, rgba($color, 0.3) 75%, transparent),

            /* Shadows */
            radial-gradient(0 50%, farthest-side, rgba($color, .5), transparent),
            radial-gradient(100% 50%,farthest-side, rgba($color, .5), transparent);

        background-size: $size*4 100%, $size*4 100%, 1px 100%, 1px 100%, $size 100%, $size 100%;
        background-position: 0 0, 100% 0, 0 0, 100% 0, 0 0, 100% 0;
    }
}

.scroll-shadow {
    @include scrollshadows();
    overflow: auto;
}

.scroll-shadow_type_horizontal {
    @include scrollshadows($orientation: 'horizontal');
    overflow: auto;
    white-space: nowrap;
}

.scroll-shadow_color_green {
    @include scrollshadows($color: #f00, $size: 12px, $bgcolor: #BCD92A) ;
    overflow: auto;
}
